body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50%;
    max-height: 60px;
}

.navlinks {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    color: #ABABAB;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navlinks li a:hover {
    color: rgb(102, 200, 127);
    transform: scale(1.1);
}

.conta {
    display: flex;
    gap: 10px;
    align-items: center;
}

.entrar{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

.criar-conta {
    background: linear-gradient(135deg, rgb(24, 140, 162), rgb(92, 186, 117));
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.criar-conta:hover {
    background: linear-gradient(135deg, rgb(92, 186, 117), rgb(24, 140, 162));
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.entrar :hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}

.mobile-menu {
    cursor: pointer;
    display: none;
    margin-right: 5vw;
}

.mobile-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navlinks {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 85vh;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        gap: 8vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translatex(100%);
        transition: all 0.3s ease;
        padding-top: 5vh;
    }

    .mobile-menu {
        display: block;
    }

    .conta {
        display: none;
    }
}
